<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tracking COVID-19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/prevention}">Prevention</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/report/}">Make a Report</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <h1>Coronavirus Tracker Application</h1>
        <p>This application lists the current number of cases reported across the globe.</p>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="display-4" th:text="${totalReportedCases}"></h1>
                            <p class="lead">Total cases reported as of today</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="display-4" th:text="${totalConfirmed}"></h1>
                            <p class="lead">Total confirmed</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="display-4" th:text="${totalDeath}"></h1>
                            <p class="lead">Total death</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <table class="table">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total cases reported</th>
                <th>Changes since last day</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.state}">Onions</td>
                <td th:text="${locationStat.country}">2.41</td>
                <td th:text="${locationStat.latestTotalCases}">0</td>
                <td th:text="${locationStat.diffFromPrevDay}">0</td>
            </tr>
        </table>
    </div>

    <div class="foot">
        <span class="cod">COVID-19 <em>......</em> </span>
        <span class="health" >Stay Aware, Stay Healthy!!!
                        <em>...................................................................</em>
                        <a th:href="@{/}">Home</a>
                    </span>
    </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
