<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Coronavirus Tracker App</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">

	<!-- custom css -->
	<link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="#">Tracking COVID-19</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}">Home</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/symptom}">Symptoms</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prevention}">Prevention<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/report/}">Make a Report</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Possible Ways You can Prevent COVID-19</h1>
		<p>The following are the basic prevention methods of Coronavirus.</p>
		<img class="cent" src="images/coor.jpeg" title="Diagramatic Representation of the Coronavirus"/>

        <div class="prev">
 			<h2>Basic protective measures against the new coronavirus </h2>
			<p>
                Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website
                and through your national and local public health authority. COVID-19 is still affecting mostly
                people in China with some outbreaks in other countries. Most people who become infected experience
                mild illness and recover, but it can be more severe for others. Take care of your health and protect
                others by doing the following:
            </p>
		</div>

        <div class="prev">
            <h3>Wash your hands frequently</h3>
            <img class="centi" src="images/handwahing.jpg" title="Wash your hands frequently"/>
            <p>
                Regularly and thoroughly clean your hands with an alcohol-based
                hand rub or wash them with soap and water.
                Why? Washing your hands with soap and water or using alcohol-based hand
                rub kills viruses that may be on
                your hands.
            </p>
        </div>

        <div class="prev">
            <h3>Avoid touching eyes, nose and mouth</h3>
            <img class="eyee" src="images/like.jpeg" title="Avoid touching eyes, nose and mouth"/>
            <p>
                Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer
                the virus to your eyes, nose or mouth. From there, the virus can enter your body and can make
                you sick.
            </p>
        </div>

        <div class="prev">
            <h3>Practice respiratory hygiene</h3>
            <img class="cov" src="images/cover.jpg" title="Practice respiratory hygiene"/>
            <p>
                Make sure you, and the people around you, follow good respiratory hygiene. This means
                covering your mouth and nose with your bent elbow or tissue when you cough or sneeze.
                Then dispose of the used tissue immediately. Why? Droplets spread virus. By following good
                respiratory hygiene
                you protect the people around you from viruses such as cold, flu and COVID-19.
            </p>
            <p>
                Follow the directions of your local health authority.
                Why? National and local authorities will have the most up to date information on the situation
                in your area.
            </p>
        </div>

        <div class="prev">
            <h3>Others Include:</h3>
            <ul>
                <li>Avoid close contact with people who are sick.</li>
                <li>Stay home when you are sick.</li>
                <li>Clean and disinfect frequently touched objects and surfaces.</li>
                <li>Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
            </ul>
        </div>

        <div class="prev">
            <h3>Stay informed and follow advice given by your healthcare provider</h3>
            <p>
                Stay informed on the latest developments about COVID-19. Follow advice given by your healthcare provider,
                your national and local public health authority or your employer on how to protect yourself and others
                from COVID-19. Why? National and local authorities will have the most up to date information on whether COVID-19 is
                spreading in your area. They are best placed to advise on what people in your area should be doing
                to protect themselves. For more information visit <a href="https://ncdc.gov.ng">NCDC</a>.
            </p>
        </div>
    </div>


    <div class="foot">
        <span class="cod">COVID-19 <em>......</em> </span>
        <span class="health" >Stay Aware, Stay Healthy!!!
                    <em>...................................................................</em>
                    <a href="index.html">Home</a>
                </span>
    </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 </body>







</html>