<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Tracking COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/symptom}">Symptoms<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/prevention}">Prevention</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/report/}">Make a Report<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Send us a text Message</h3>
        <p>If you have fever, cough and difficulty breathing, seek medical care early
            Stay home if you feel unwell. If you have a fever, cough and difficulty breathing,
            seek medical attention and call in advance. </p>
        <p>Calling in advance will allow your health care provider to quickly direct you to the right
            health facility. This will also protect you and help prevent spread of viruses and other
            infections.</p>

        <form th:action="@{/report/sms}" method="post">
            <div class="form-group">
                <label for="toPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="toPhoneNumber" name="phoneNumber">
                <small id="toPhoneNumberHelp" class="form-text text-muted">If you leave a Nigeria, send a text to our Toll-Free Call Centre: 0800 970000 10</small>
            </div>

            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" >
                <small id="ststeHelp" class="form-text text-muted">Enter any of the 36 States e.g Osun.</small>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country">
                <small id="countryHelp" class="form-text text-muted">Enter your country e.g Nigeria.</small>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address">
                <small id="addressHelp" class="form-text text-muted">Please provide the full address of the suspected
                victim.</small>
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea type="text" class="form-control" id="message" name="message"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <div class="foot">
        <span class="cod">COVID-19 <em>......</em> </span>
        <span class="health" >Stay Aware, Stay Healthy!!!
					<em>...................................................................</em>
					<a href="index.html">Home</a>
				</span>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>